body {
    background-image: url(https://cdn.pixabay.com/photo/2015/12/06/20/10/christmas-bauble-1079926__340.jpg);
    background-size: 1000px;
    background-repeat: no-repeat;
    background-color: #56686b;
    background-position-x: 50%;
}